$border-color: #CCCCCC;
$background-color: #FFFFFF;

$enable-button-text-color: #fff;
$disable-button-text-color: #a2a2a2;
$button-background-color: #505050;

$cursor-pointer: pointer;

$textbox-text-color: #000000;
$textbox-background-color: #FFFFFF;
$textbox-border-color: #CCCCCC;

$error-text-color: red;
$form-border: 1px solid rgba(0, 0, 0, 0.1);

$font-bold-weight: bold;
$font-size: 14px;

$display-block: block;
$display-inline-block: inline-block;